*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-menu1: #222327;
}

.projects{
    margin: 10px 30px;
}

.projects .pj{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 200px;
    width: 300px;
    border: 1px solid rgba(134, 134, 134, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    
    margin: 1rem;
}

