/* Menu 2 */

.menu2{
    display: block !important;
    padding: 10px;
}

.dropdawn{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 50px;
}

.dropdawn input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    border-radius: 10px ;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    
}

.dropdawn .option{
    position: absolute;
    top: 60px;
    width: 100%;
    background:#fff;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* padding: 10px; */
    overflow: hidden;
}

.dropdawn .option div{
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 3px;
}

.dropdawn .option div:hover{
    background: #62baea;
    color: #fff;
}

.dropdawn::before{
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 100;
    width: 8px;
    height: 8px;
    border: 2px solid #000;
    border-top: #fff;
    border-right: #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;

}

/* Carregamentos */

.load1{
    /* display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 200px;
    width: 300px;
    border: 1px solid rgba(134, 134, 134, 0.3);
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background: rgb(218, 218, 218); */
    background: rgb(218, 218, 218);
    
}

.load1 span{
    position: relative;
    width: 30px;
    height: 30px;
    background: rgb(218, 218, 218);
    margin: 0 5px;
    border-radius: 50%;
    border: 3px solid rgb(218, 218, 218);
    box-shadow: -4px -4px 9px rgba(255, 255, 255, 1),
                4px 4px 9px rgba(0, 0, 0, 0.2),
                inset 3px 3px 5px rgba(0,0,0,0.1),
                inset -1px -1px 5px rgba(255, 255, 255,1);
}

.load1 span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5c89ff;
    border-radius: 50%;
    box-shadow: inset 3px 3px 5px rgba(0,0,0,0.1),
                inset -1px -1px 5px rgba(255, 255, 255,1);
    transform: scale(0);
    animation: animate 1.5s linear infinite, 
                animateColor 5s linear infinite;
    animation-delay: calc(var(--i)*0.2s);

}

@keyframes animate {
    0%,9.99%,70.0001%{
        transform: scale(0);
    }
    10%,70%{
        transform: scale(1);
    }
}

@keyframes animateColor{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

/* CHUVA */

.chuva{
    background: rgb(50, 190, 132);
    overflow: hidden;
    display: block !important;
}

.chuva i{
    position: absolute;
    height: 50px;
    background: linear-gradient(transparent,rgb(255, 255, 255));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animeteChuva 3s linear infinite;
}

.chuva i:nth-child(3n+1){
    background: linear-gradient(transparent, #fff);
}

.chuva i:nth-child(3n+2){
    background: linear-gradient(transparent, #0f0);
}

.chuva i:nth-child(3n+3){
    background: linear-gradient(transparent, #f00);
}


@keyframes animeteChuva{
    0%{
        transform: translateY(-50px) ;
    }
    100%{
        transform: translateY(250px);
    }
    
}

/* MENU 1 */



.menu1{
    background: rgb(206, 206, 206);
}
.menu1 .navigate{
    font-size: 13px;
    width: 280px;
    height: 70px;
    background: #fff;
    position: relative;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

}

.menu1 .navigate ul {
    display: flex;
    width: 250px;
    margin: 0 auto;
}

.menu1 .navigate ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.menu1 .navigate ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.menu1 .navigate ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--cor-menu1);
}

.menu1 .navigate ul li.active a .icon{

    transform: translateY(-35px);
}

.menu1 .navigate ul li a .text{


    position: absolute;
    color: var(--cor-menu1);
    font-weight: 600;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    opacity: 0;

    transition: 0.5s;
    transform: translateY(20px);
}

.menu1 .navigate ul li.active a .text{
    opacity: 1;
    transform: translateY(0px);
}

.indicador{
    position: absolute;
    top: -40%;
    width: 50px;
    height: 50px;
    background: #29fd53;
    border-radius: 50%;
    border: 3px solid rgb(206, 206, 206);
    transition: 0.5s;
}

.indicador::before{
    content:'';
    position: absolute;
    top: 57.5%;
    left: -11px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-top-right-radius: 8px;
    box-shadow: 0px -5px 0px 0px rgb(206, 206, 206);
}

.indicador::after{
    content:'';
    position: absolute;
    top: 57.5%;
    right: -10px;
    width: 9px;
    height: 9px;
    background: transparent;
    border-top-left-radius: 10px;
    box-shadow: 0px -5px 0px 0px rgb(206, 206, 206);
}

.menu1 .navigate ul li:nth-child(1).active ~ .indicador{
    transform: translateX(calc(50px*0));
}

.menu1 .navigate ul li:nth-child(2).active ~ .indicador{
    transform: translateX(calc(50px*1));
}

.menu1 .navigate ul li:nth-child(3).active ~ .indicador{
    transform: translateX(calc(50px*2));
}

.menu1 .navigate ul li:nth-child(4).active ~ .indicador{
    transform: translateX(calc(50px*3));
}

.menu1 .navigate ul li:nth-child(5).active ~ .indicador{
    transform: translateX(calc(50px*4));
}